*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
 
/* Navbar Start */
#navbar{
    background: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #37ff00;
}
.navbar-toggler span{
    color: #37ff00;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #37ff00;
    color: white;
}
#navbar form button{
    background: 37ff00;
    color: white;
    border: none;
}
/* Navbar End */

/* Home Section Start */
.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/background\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .sl{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
} 
.home .india{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
} 
.home .italy{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/bg5.png);
    background-repeat: no-repeat;
    background-size: cover;
} 
.home .uk{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
} 
.home .us{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
} 
.home .france{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/bg7.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 75px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h5:hover{
    color: rgb(10, 41, 1);
    letter-spacing: .1em;
}

.home .content p{
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}

@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 75px;
    }
    .home .content p{
        font-size: 25px;
    }
}
/* Home Section End */


/* Section countries Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #37ff00;
}
.countries .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.countries .card img{
    border-radius: 5px;
}
.countries .card .card-body{
    background: transparent;
}
.countries .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.countries .card .card-body p{
    font-size: 15px;
}
/* .checked{
    color: #37ff00;
}

.places .card .card-body h6{
    font-size: 20px;
}
.places .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #37ff00;
    color: white;
    border-radius: 5px;
} */

/* Section countries End */


/* Section Gallary Start */
.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
/* Section Gallary End */


/* Footer Start */
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #37ff00;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #37ff00;
}
/* Footer End */